.uranus {
    background-color: rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    animation: rotateUranus 5s linear infinite reverse;
  }

.orbit-uranus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 50% 50%; /* orbit-path, all circle or oval*/
    animation: orbitUranus 80s linear infinite; /* Orbit around the sun */
}

.orbit-line-uranus {
  border: 1px dashed rgba(255, 255, 255, 0.8);
  padding: 925px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
   will-change: transform;
  /*animation: fadeIn 2s; */
}

img {
    width: 100%; /* Fill the container's width */
    height: 100%; /* Fill the container's height */
    object-fit: cover; /* Prevent the image from being stretched or crushed */
    border-radius: 50%; /* Make the image circular as well */
}

  @keyframes orbitUranus{
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(900px); /* Start position */
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(900px); /* Complete the orbit */
    }
}

@keyframes rotateUranus {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg); /* Full rotation */
    }
  }

