.mars {
    background-color: rgba(0, 0, 0, 0);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    animation: rotateMars 7s linear infinite;
  }

.orbit-mars {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 50% 50%; /* orbit-path, all circle or oval*/
    animation: orbitMars 26s linear infinite; /* Orbit around the sun */
}

.orbit-line-mars {
  border: 1px dashed rgba(255, 255, 255, 0.8);
  padding: 356px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  will-change: transform;
  /* animation: fadeIn 2s; */
}

img {
    width: 100%; /* Fill the container's width */
    height: 100%; /* Fill the container's height */
    object-fit: cover; /* Prevent the image from being stretched or crushed */
    border-radius: 50%; /* Make the image circular as well */
}

  @keyframes orbitMars {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(340px); /* Start position */
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(340px); /* Complete the orbit */
    }
}

@keyframes rotateMars {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg); /* Full rotation */
    }
  }

